@{
    ViewData["Title"] = "Información";
}
<h1>@ViewData["Title"]</h1>

<p class="texto-justificado">La empresa «GUSS» se fundó en el mes de Marzo de 2022, que actualmente la empresa 
   se encuentra conformada por tres socios que intentan poner en marcha una idea de 
   negocio de una gran aceptación gracias a sus deliciosos rellenos.</p>
<p>SOCIOS: ANDRES GUZMAN ACHOCALLA, SAMUEL PANIAGUA ALA, JOEL TORRICO HUAYWATI.</p>

    <h2>Descricion de la Receta</h2>
    <h3>Ingredientes</h3>
    <h5>Preparado del Relleno:</h5>
<p>
    1 Libra de Carne Molida o unas pechugas de pollo deshebrado.<br>
    4 Tazas de Caldo de Res.<br>
    3/4 Taza de Mantequilla.<br>
    2 Cucharadas de Achiote en polvo o pasta.<br>
    1 Cebolla finamente picado.<br>
    3 Papas Grandes cortadas en cubos.<br>
    1 Taza de Chicharos arvejas.<br>
    1/2 Taza de Perejil finamente picado.<br>
    1/2 Taza de Azucar.<br>
    1 Paquete de Gelatina sin Sabor.<br>
    1 Cucharada de Comino Oregano, Sal, y Pimienta.<br>
    Opcional 3 Huevos Duros, Aceitunas, y Pasitas.<br>
    <h5>Preparado de la Masa:</h5>
    4.5 Tazas de Harina Comun.<br>
    2 Huevos.<br>
    1/2 Taza de Azucar.<br>
    1 Barra de Mantequilla Derretida.<br>
    1/2 Cucharadita de Sal.<br>
    1.5 Tazas de Agua hirviendo.<br>
    Colorante Amarillo.<br>
</p>

    <h3>Instrucciones</h3>
    <h5>Preparado del Relleno</h5>
<p class="text-justify">
    Cocina las papas en agua hirviendo hasta que esten cocidas pero todavia duras.
    Derrite la mantequilla junto con el achiote hasta que esten bien combinados.
    Agrega la cebolla y las papas y sazona con el comino, sal, pimienta, y oregano.
    Agrega los chicharos y el perejil y mezcla bien.
    Agrega el azucar y sigue cocinando por unos minutos mas.
    Agrega la carne ya cocida a la mezcla
    Agrega el caldo de res y calienta hasta que este hirviendo.
    Agrega el paquete de gelatin sin sabor, mezcla bien y retira del fuego.
    Transfiere todo a un tazon grande y refrigera por lo menos 4 horas (Toda la noche es ideal, pero no es necesario).
</p>
    <h5>Preparado de la Masa</h5>
<p class="text-justify">
    Combina la harina, el azucar y la sal en un tazon grande y mezcla bien.
    Combina la mantequilla derretida, los huevos batidos,y el colorante amarillo y mezcla bien.
    Agrega la mezcla anterior a la harina y mezcla bien.
    Agrega el agua hirviendo y mezcla hasta que todo este bien combinado.
    Amasa hasta formar una bola grande y amarilla.
    Deja reposar por unos 10 a 20 minutos y luego forma varias bolas mas chicas.
    Aplana una de las bolas y corta un circulo de unas 6 pulgadas de diametro y como 1/8 pulgada de grueso.
</p>
    <h5>Preparado Forma</h5>
<p class="text-justify">
    Agrega un pedazo de huevo duro (y una aceituna y unas pasitas si deseas) en medio de la masa y 1/4 taza del relleno (puede ser mas si no estas agregando los otros ingredientes).
    Moja un poco las orillas de la masa y dobla un lado al otro, cubriendo el relleno, pellizcando y torciendo para crear un sello fuerte para que no se escapen los jugos duranta la coccion.
    Con una broche, unta las salteñas con un huevo batido para que brillen un poco.
    Coloca las salteñas en una cacherola con papel aluminio y hornea por unos 15 minutos.
    Deja enfriar por lo menos 10 minutos y disfruta!
</p>
<p class="text-justify">
    Nota:<br>
    La mejor forma de comerlas es agarrandolas con un lado hacia arriba y mordiendo la esquina para que no se escapen los jugos.
    El relleno va a estar muy caliente, entonces es mejor cortarlas a la mitad para que se enfrien un poco.
</p>
