@{
    ViewData["Title"] = "weather Cast";

    System.Collections.ArrayList players = (System.Collections.ArrayList)ViewData["ranks"];
}

<div class="text-center">
    <h1 class="display-4">Rankins mundiales</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Aqui esta el menu</a>.</p>
    <ul>
     
    </ul>
</div>
